<form action="" method="POST" role="form">
	<input  id="" name="Id" value="{{Id}}" readonly="readonly">
	<button type="submit" class="btn btn-danger">
		<span class="glyphicon glyphicon-remove"></span>
		Delete
	</button>
</form>