.icon {
    color : darkslateblue;
    padding:15px 20px 20px 20px;
    font-size:110px;
}
.imgbox{
			width:250px;
			height:200px;
			float:left;
			padding:6px;
			margin:30px 0 30px 40px;					
			border-radius:10px;
			background-color:#F0F8FF	;
			transition:background-color 0.25s linear 0;
			-webkit-transition:background-color 0.25s linear 0;
			-o-transition:background-color 0.25s linear 0;
			-ms-transition:background-color 0.25s linear 0;
			-moz-transition:background-color 0.25s linear 0;
			font-size: 20px;
			text-align: center;
			color: blue;
		}
		.imgbox a{
			text-decoration:none;
		}
		
		
		.imgbox:hover .catimage{
			border-color:#056bce;
			transition:border-color 0.25s linear 0;
			-webkit-transition:border-color 0.25s linear 0;
			-moz-transition:border-color 0.25s linear 0;
			-o-transition:border-color 0.25s linear 0;
			-ms-transition:border-color 0.25s linear 0;
			
		}
		.imgbox .catimage{
			width:250px;
			height:200px;			
			border:solid 5px #babbbb;
			border-radius:10px;
			overflow:hidden;
			transition:border-color 0.25s linear 0;
			-webkit-transition:border-color 0.25s linear 0;
			-moz-transition:border-color 0.25s linear 0;
			-o-transition:border-color 0.25s linear 0;
			-ms-transition:border-color 0.25s linear 0;
		}


