<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="img/logo.png" type="image/ico">
  <title>QUẢN LÝ THƯ VIỆN </title>
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
</head>
<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a class="site_title" href="#"><i class="fa fa-paw"></i><span>QUẢN LÝ THƯ VIỆN</span></a>
          </div>
          <br>
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <ul class="nav side-menu">
                <li><a href="#"><i class="fa fa-search"></i>Tìm kiếm</a>
                </li>
                <li><a href="#"><i class="fa fa-user"></i>Quản lý độc giả</a>
                </li>
                <li><a href="#"><i class="fa fa-book"></i> Quản lý sách<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="#">Quản lý sách</a></li>
                    <li><a href="#">Quản lý NXB</a></li>
                    <li><a href="#">Quản lý thể loại</a></li>
                  </ul>
                </li>
                <li><a href="#"><i class="  fa fa-exchange"></i>Quản lý mượn trả</a>
                </li>
                <li><a href="#"><i class="fa fa-pencil-square-o"></i> Quy định</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- header-->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="images/img.jpg" alt="">Phan Thao
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li><a href="javascript:;">Thông tin cá nhân</a></li>
                  <li>
                  </li>
                  <li><a href="#"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                </ul>
              </li>
            </nav>
          </div>
        </div>
        <div class="right_col" role="main" style="min-height: 607px;">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>{{title}}</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                   {{{body}}}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <script src="/bootstrap/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/css/custom.js"></script>
  </body></html>