<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/logo.png" type="image/ico">
  <title>QUẢN LÝ THƯ VIỆN </title>
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css"> 
</style>
</head>
<body class="sidebar-is-reduced">
  <header class="l-header navbar-fixed-top">
    <div class="l-header__inner clearfix">
      <div class="c-header-icon js-hamburger">
        <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></div>
      </div>
      <div class="header-icons-group">
       <div class="c-header-icon logout">
        <ul class="nav pull-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <b class="caret"></b></a><p>{{user.Username}}</p>
            <ul class="dropdown-menu">
               {{#ifCond user.Quyen '==' 1}}
              <li><a href="/admin/TaiKhoan">Cập nhật thông tin</a></li>
              {{/ifCond}}
              <li><a href="/admin/DoiMatKhau"> Đổi mật khẩu</a></li>
              <li><a href="/logout"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="l-sidebar">
  <div class="logo">
    <div class="logo__txt fa fa-tags"></div>
  </div>
  <div class="l-sidebar__content">
    <nav class="c-menu js-menu">
      <ul class="u-list">
       {{#ifCond user.Quyen '==' 1}}
       <a href="/admin/home">
          <li class="c-menu__item " data-toggle="tooltip" title="Trang chủ">
            <div class="c-menu__item__inner"><i class="fa fa-home"></i>
              <div class="c-menu-item__title"><span>Trang chủ</span></div>
            </div>
          </li>
        </a>
        <a href="/sach/list">
          <li class="c-menu__item " data-toggle="tooltip" title="Quản lý sách">
            <div class="c-menu__item__inner"><i class="fa fa-book"></i>
              <div class="c-menu-item__title"><span>Quản lý sách</span></div>
            </div>
          </li>
        </a>
        <a href="/DocGia/list">
          <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Quản lý độc giả">
            <div class="c-menu__item__inner"><i class="fa fa-user"></i>
              <div class="c-menu-item__title"><span>Quản lý độc giả</span></div>
            </div>
          </li>
        </a>
        <a href="/MuonTra/list">
          <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Quản lý mượn trả">
            <div class="c-menu__item__inner"><i class="fa fa-exchange"></i>
              <div class="c-menu-item__title"><span>Quản lý mượn trả</span></div>
            </div>
          </li>
        </a>
        
        <a href="/QuyDinh/list">
          <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Quy định">
            <div class="c-menu__item__inner"><i class="fa fa-pencil-square-o"></i>
              <div class="c-menu-item__title"><span>Quy định</span></div>
            </div>
          </li>
        </a>
        {{/ifCond}}

        {{#ifCond user.Quyen '==' 2}}
        <a href="/admin/list">
          <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Quản lý tài khoản">
            <div class="c-menu__item__inner"><i class="fa fa-asterisk"></i>
              <div class="c-menu-item__title"><span>Quản lý tài khoản</span></div>
            </div>
          </li>
        </a>
        {{/ifCond}}
      </ul>
    </nav>
  </div>
</div>
<main class="l-main">
  <div class="content-wrapper content-wrapper--with-bg">
    {{{body}}}
  </div>
</main>
<script src="/bootstrap/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/css/custom.js"></script>
{{{_sections.scripts}}}
</body>
</html>