<h3 style="color: blue">Danh sách thể loại</h3>
<hr>
<div class="span7">   
	<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="widget-content">

			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tên thể loại</th>
						<th class="td-actions"></th>
					</tr>
				</thead>
				<tbody>
					{{#each theloai}}
					<tr>
						<td id="id">{{Id}}</td>
						<td>{{TenTheLoai}}</td>
						<td class="td-actions col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a href="javascript:;" class="btn btn-small btn-primary">
								<i class="fa fa-pencil"></i>
							</a>

							<a href="javascript:;" class="btn btn-small btn-danger">
								<i class="fa fa-remove"></i>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>

		</div> <!-- /widget-content -->

	</div> <!-- /widget -->
</div>
